@import '../../assets/css/less/app.variables.less';
@import '../../assets/css/less/mr.variables.less';
//#image_container img {
//  position:absolute;
//  /*top:50%; !* Move the image down, so its top is half way down the container *!*/
//  /*margin-top:-100px; !* Move the image back up half its height *!*/
//}

.search-box {
  position:absolute;
  background: none repeat scroll 0 0 #000000;
  opacity: 0.7;
  margin: 0 auto;
  height: 100px;
  margin-top: -100px;
  vertical-align: bottom;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  align-content: center;
  width:100%;
}

div.centre-h
{
  //background-color: plum;
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media @desktop {
  div.centre-h {
    data-screen-type: "desktop";
    width: 785px;
}
}
@media @tablet {
  div.centre-h {
    data-screen-type: "tablet";
    width: 80%;
  }
}
@media @phone {
  div.centre-h {
    data-screen-type: "phone";
    width: 100%;
  }
}

@media @tablet, @phone {
  #main-image {
    height: 500px;
  }

  #image-row {
    min-height: 500px;
    max-height: 500px;
  }
}




div.centre-v
{
  //background-color: yellow;
  display: block;
  text-align: left;
}

div.centre-v::before
{
  display: block;
  content: " ";
  height: 10%;

}
div.centre-v::after
{
  display: block;
  content: " ";
  height: 10%;
}



//.search-box div {
//  height: 50px;
//  margin-top: auto;
//  margin-bottom: auto;
//  width: 80%;
//  padding-left: auto;
//  padding-right: auto;
//
//}

/*top:50%; !* Move the image down, so its top is half way down the container *!*/
/*margin-top:-100px; !* Move the image back up half its height *!*/
