html {
position:relative;
min-height: 100%;
}

#wrapper {
min-height: 100%;
margin-bottom: -330px;
}
/************************ POSITIONING **********************/

.width100{
      width:100%;

}
.contentarea{
    padding-top:30px;
    padding-bottom:30px;
}

#container {
        padding-left:3%;
    padding-right:3%;
    max-width:2000px;
}

.child
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.parent {
    position:relative;
}

/************************ ELEMENTS **********************/

hr /*line*/
{
	color: white;
	opacity: 0.4;
}


.input:focus /*Style when any input is selected*/
{
	background-color: #fff;
	opacity:1;
}
.input /*general style for input*/
{
	padding: 5px;
	opacity:0.7;
}

textarea:focus /*Style when any input is selected*/
{
	background-color: #fff;
	opacity:1;
}
textarea /*general style for input*/
{
	opacity:0.7;
}


button[type=button],input[type=submit] /* Style for standard buttons */
{
	background-color: #4A96AD;
	border-radius: 0px;
	color: white;
	font-family: verdana;
	font-size: 25px;
	height: 57px;


}

button[type=button]:hover,input[type=submit]:hover,button[type=button]:active,input[type=submit]:active,button[type=button]:visited,input[type=submit]:visited /* Style for standard buttons */
{
	background-color: #3d7b8f;

}

/************************ BASE **********************/
body /*General style for body*/
{
	background: #FFFFFF;
	color: #000;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 1em;
	font-weight: 400;
	margin: 0;
	padding: 0;
	height:100%;
}

/*Set to inline*/
  .name,
    .main-header,
    .search,
    .expandicon{
    display:inline;
}




.blackbackground {
    background-color:#000;
}

/************************ FONT **********************/

@font-face
{
	font-family: 'myriadpro';
	src: url('../fonts/myriadpro.ttf');
}

h1
{
	color: black;
	font-family: 'Open Sans', sans-serif;
}

h2{
    font-size:30px;
}

.p{
    font-size:20px;
}



.mediumfont{
    font-size:100px;
}

.black {
    color:black;
}


.whitef{
    color:white;
}

.blue{
    color:#4A96AD;
}
.homep{
color:white;
}

.name{
    color:white;
    font-size:30px;
}

.largerfont
{
	font-size: 25px;
}
.titletext
{
    font-size:100%;
    color:white;
	font-family: 'Open Sans', sans-serif;

}

p
{
	font-family: myriadpro;
	font-size: 19px;
}
.resultdescription:hover,.resultdescripton:active,.resultdescription:visited
{
	color: black;
}

/************************ LINKS **********************/

a:link
{
	color: white;
}
a:visited
{
	color: #4A96AD;
}
a:hover
{
	color: #4A96AD;
}
a:active
{
	color: #4A96AD;
}

/************************ ICONS **********************/

.expandicon{
  font-size:34px;
  color:white;
}

.searchicons{
    color:white;
    font-size:35px;
    float:right;
    margin-top:-5px;
}

.twitter_icon {
    color:white;
}

.facebook_icon {
    color:white;
}

.email_icon:hover,.email_icon:visited, .email_icon:active{
    color:#e1e1e1;
    text-decoration:none;
}

.twitter_icon:hover,.twitter_icon:visited,.twitter_icon:active{
    color:#0084b4;
    text-decoration:none;

}

.facebook_icon:hover,.facebook_icon:visited ,.facebook_icon:active  {
    color:#3b5998;
    text-decoration:none;
}

/************************ HEADER **********************/

.main-header{
    padding-top:19px;
}

header
{
	border-bottom: 1px solid rgba(255,255,255,0.3);
	height: 84px;
	moz-transition: background-color 700ms linear;
	ms-transition: background-color 700ms linear;
	o-transition: background-color 700ms linear;
	padding-left: 3%;
	padding-right: 3%;
	position: fixed;
	transition: background-color 700ms linear;
	webkit-transition: background-color 700ms linear;
	width: 100%;
	z-index: 1;
}
#headercontent
{
	padding-left: 3%;
	padding-right: 3%;
}

.head:active
{
	color: white;
}


header.scrolled
{
	background-color: black;
}

#headertext
{
    padding-left:3%;
    padding-right:3%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
	width: 100%;
}

.title
{
	font-size: 6em;
	opacity: 0.8;
	text-align: center;
	text-transform: uppercase;

}
#subtitle {
    padding-top:20px;
    padding-bottom:90px;
}

/************************ SEARCH BAR **********************/
#searchcontainer
{
	height: 40px;
	padding-left: 13%;
	padding-right: 13%;
	position: relative;
	width: 100%;
}
#search-box
{
	background-color: #4A96AD;
	border-radius: 0px;
	color: white;
	font-family: arial;
	font-size: 23px;
	height: 60px;
	margin-top:-7px;
}
#search-bar
{
	background-color: white;
	border-radius: 0px;
	font-family: verdana;
	font-size: 23px;
	height: 57px;
	opacity: 0.7;

}
#search-bar:focus{
    opacity:1;
}

#mobilesignup{
    display:none;
}


/************************ TOP SEARCH **********************/

#top
{
	background-color: #4A96AD;
	color: white;
	font-family: myriadpro;
	font-size: 40pt;
	min-height: 84px;
	padding-top: 85px;
	padding-bottom:5px;
	position: relative;
	text-align: center;
}

.distance
{
	background-color: none;
	border: 0;
	color: black;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	width: auto;
}
.locationsearch
{
	background-color: none;
	border-style: none;
	color: black;
	font-family: arial;
	margin-top: -15px;
	width: auto;
}
.racetype
{
	background-color: none;
	border-style: none;
	color: white;
	font-family: arial;
	margin-right: -15px;
	width: auto;
}

#racename
{
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	white-space: -pre-wrap;
	word-wrap: break-word;
}
[contenteditable=true]:empty:before
{
	content: attr(data-ph);

}
/* Map */
#map
{
	min-height: 400px;
	z-index: 0;
}

/************************ LISTING AREA **********************/

#belowmap
{
	background-color: #f5f5f5;
	border-color: rgba(0, 0, 0,0.1);
	border-style: solid;
	border-width: 1px;
	color: white;
	font-family: myriadpro;
	font-size: 40pt;
	min-height: 84px;
	position: relative;
	text-align: center;
}

#belowmaptext
{
	color: black;
	float: left;
	font-size: 20pt;
	padding-left:3%;
}

#refinebutton
{
	background-color: #33cc99;
	float: right;
	font-size: 20pt;
	min-height: 84px;
	width: 200px;
}
#refinebutton:hover{
    background-color: #2eb88a;
    color:white;
}

#refinebutton:visited,#refinebutton:active {
    color:white;
}

#results
{
	height: 500px;
	margin: auto;
	padding-bottom: 30px;
	Padding-top: 30px;
	width: 94%;
}
/*
.result
{
	padding-bottom: 30px;
}
*/
.contentbox
{
	background-color: #f5f5f5;
	border-bottom: none;
	border-color: rgba(0, 0, 0,0.1);
	border-style: solid;
	border-width: 1px;
	color: black;
	height: 65px;
}

.leftsquare
{
	background-color: #20bdc7;
	border-right-color: rgba(0, 0, 0,0.1);
	border-right-style: solid;
	border-right-width: 1px;
	color: white;
	font-family: myriadpro;
	font-size: 40pt;
	height: 100%;
	text-align: center;
}


.contentbox-title
{
	font-family: myriadpro;
	font-size: 30pt;
}

/* style for content boxes*/
.contain
{
	padding-bottom: 28px;
}
/* Style change for content boxes*/
.contain:hover .resultdescription
{
	border-color: rgba(0, 0, 0,0.8);
}
.contain:hover .contentbox
{
	background-color: black;
	color: white;
	border-bottom:none;
}

.resultdescription
{
	background-color: #fafafa;
	color:black;
	border-color: rgba(0, 0, 0,0.1);
	border-style: solid;
	border-width: 1px;
	font-family: myriadpro;
	font-size: 15pt;
	height: 100px;
	padding-top: 5px;
}

/*
#main
{
	background-color: #1b1b1b;
	height: 400px;
	margin: auto;
	padding-left: 5%;
	padding-right: 5%;
}
*/

/*
#innermain
{
	background-color: #fff;
}
*/




/************************ RACE CATEGORY SQUARES **********************/

.square{
    background-color:black;
    height:275px;
    padding-left:5px;
    padding-right:5px;
    margin-bottom:20px;
}

.imagetitle
{

	font-size: 6.2em;
	opacity: 0.8;
	text-align: center;
	text-transform: uppercase;
	    word-break: break-all;

}

.mudrun{
background-image:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.1)
    ),
    /* bottom, image */
    url("../img/mudruns.jpg");
     background-size:cover;
       -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

}

.mudrun:hover{
    background-image:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url("../img/mudruns.jpg");


}

.marathon{
background-image:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.1)
    ),
    /* bottom, image */
    url("../img/Marathon.jpg");
     background-size:cover;
       -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

}

.marathon:hover{
    background-image:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url("../img/Marathon.jpg");



}
.cycling{
background-image:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.1)
    ),
    /* bottom, image */
    url("../img/cycling.jpg");
     background-size:cover;
       -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

}

.cycling:hover{
    background-image:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url("../img/cycling.jpg");


}

.swimming{
background-image:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.1)
    ),
    /* bottom, image */
    url("../img/swimming.jpg");
     background-size:cover;
       -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

}

.swimming:hover{
    background-image:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url("../img/swimming.jpg");


}

.triathlon{
background-image:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.1)
    ),
    /* bottom, image */
    url("../img/triathlon.jpg");
     background-size:cover;
       -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

}

.triathlon:hover{
    background-image:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url("../img/triathlon.jpg");



}

.obstacle{
background-image:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.1)
    ),
    /* bottom, image */
    url("../img/obstacle.jpg");
     background-size:cover;
       -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

}

.obstacle:hover{
    background-image:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url("../img/obstacle.jpg");

}

/************************ NO RESULTS PAGE **********************/

#noresults{
    background-color:#252525;
    height:300px;
    display:none;
}

/************************ FOOTER **********************/

.footercol{
    list-style:none;
}

.footercol li {
    list-style:none;
    color:white;
    text-align:left;
}

.footer{
height:120px;}

* {
  margin: 0;
}

