  <label class="col-sm-2 control-label">Age Restriction</label>
  <div class="col-sm-2">
    <label class="i-switch bg-danger m-t-xs m-r">
      <input type="checkbox" checked="enabled" [(ngModel)]="editing">
      <i></i>
    </label>
  </div>


  <!--<button class="btn m-b-xs btn-sm btn-danger btn-addon" *ngIf="!editing" (click)="edit()"><i class="fa fa-plus"></i>Add-->

  <!--</button>-->
  <div id="age-inputs" *ngIf="editing" class="col-sm-8">
    <div style="width: 3em; float: left">
      <span style="float: left; margin-right: 1em; white-space: nowrap">between</span>
      <input type="text" class="form-control" [(ngModel)]="model.min" placeholder="min">
    </div>
    <div style="width: 3em; float: left">
      <span style="float: left; margin-left: 1em; margin-right: 1em; white-space: nowrap">and</span>
      <input type="text" class="form-control" [(ngModel)]="model.max" placeholder="max">
    </div>
    <div style="width: 3em; float: left">
      <span style="float: left; margin-left: 1em; margin-right: 1em; white-space: nowrap"> as of date </span>
      <input type="text" class="form-control" [(ngModel)]="model.asOfDate" placeholder="as of date" >
    </div>
  </div>

