<template tabHeading>
  <i *ngIf="isValid" class="fa fa-check-circle" aria-hidden="true" style="color: green;"></i>
  <i *ngIf="!isValid"class="fa fa-exclamation-circle" aria-hidden="true" style="color: orange;"></i>
  <span>{{$title | async }}</span>
</template>
<div class="form-group">
  <label class="col-sm-2 control-label">Sport</label>
  <div class="col-sm-3">
    <select [(ngModel)]="model.sportId" class="form-control w-full" (change)="onSportChanged($event.target.value)">
      <option *ngFor="#sport of sports" value="{{sport.id}}">{{sport.name}}</option>
    </select>
  </div>
  <div *ngIf="currentSport">
    <label class="col-sm-2 control-label">Distance</label>
    <div class="col-sm-3">
      <select [(ngModel)]="model.distance" class="form-control w-full"
              (change)="onDistanceChanged($event.target.value)">
        <option  *ngFor="#distance of currentSport.commonDistances" value="{{distance}}">{{distance}}</option>
      </select>
    </div>
  </div>

</div>
<div class="form-group">

  <label class="col-sm-2 control-label">Registration Closure Date</label>
  <div class="col-sm-3">
    <input type="text" class="form-control" placeholder="dd/mm/yyyy" [(ngModel)]="model.registrationClosureDate">
  </div>
  <label class="col-sm-2 control-label">Capacity</label>
  <div class="col-sm-3">
    <input type="number" class="form-control" [(ngModel)]="model.capacity">
  </div>
</div>


<div class="form-group">
  <registration-type-list [registrationTypes]="model.registrationTypes"></registration-type-list>
</div>





