<template tabHeading>
  <i *ngIf="isValid" class="fa fa-check-circle" aria-hidden="true" style="color: green;"></i>
  <i *ngIf="!isValid"class="fa fa-exclamation-circle" aria-hidden="true" style="color: orange;"></i>
  <span>{{$title | async }}</span>
</template>
<div class="form-group">
  <label class="col-sm-2 control-label">Sport</label>
  <div class="col-sm-3">
    <ng-select id="input-sport"
                [allow-clear]="true"
                [items]="sports"
                [initData]="initialSelected"
                (selected)="onSportChanged($event)"
                (removed)="onSportRemoved($event)"
                [placeholder]="'No sport selected'">

    </ng-select>
    <!--<select id="input-sport"-->
            <!--[(ngModel)]="model.sportId"-->
            <!--class="form-control w-full"-->
            <!--(change)="">-->
      <!--<option *ngFor="#sport of sports" value="{{sport.id}}">{{sport.name}}</option>-->
    <!--</select>-->
  </div>

  <div *ngIf="currentSport">
    <label class="col-sm-2 control-label">Distance</label>
    <div class="col-sm-3">
      <ng-select id="input-distance"
                 [allow-clear]="true"
                 [items]="currentSport.commonDistances"
                 (selected)="onDistanceChanged($event)"
                 (removed)="onDistanceRemoved($event)"
                 [placeholder]="'No distance selected'">

      </ng-select>
      <!--<select id="input-distance"-->
              <!--[(ngModel)]="model.distance"-->
              <!--class="form-control w-full"-->
              <!--(change)="onDistanceChanged($event.target.value)">-->
        <!--<option  *ngFor="#distance of currentSport.commonDistances" value="{{distance}}">{{distance}}</option>-->
      <!--</select>-->
    </div>
  </div>

</div>
<div class="form-group">

  <label class="col-sm-2 control-label">Registration Closure Date</label>
  <div class="col-sm-3">
    <input id="input-registration-closure-date"
           type="date"
           class="form-control"
           [(date)]="model.registrationClosureDate">
  </div>
  <label class="col-sm-2 control-label">Capacity</label>
  <div class="col-sm-3">
    <input id="input-capacity"
           type="number"
           class="form-control"
           [(ngModel)]="capacity">
  </div>
</div>
<div class="line line-dashed b-b line-lg pull-in"></div>
  <registration-type-list [(registrationTypes)]="model.registrationTypes"></registration-type-list>





