<div class="app app-header-fixed ">
  <div class="container w-xxl w-auto-xs" ng-controller="SignupFormController" ng-init="app.settings.container = false;">
    <a href class="navbar-brand block m-t">MustRace</a>
    <div class="m-b-lg">
      <div style="padding-bottom: 50px" class="form-group">
        <div class="wrapper text-center">
          <strong>Sign up to find interesting thing</strong>
        </div>
        <!--<div class="col-md-offset-3 col-md-9">-->
          <!--<button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="fa fa-facebook"></i>   Continue-->
            <!--with Facebook-->
          <!--</button>-->
        <!--</div>-->
        <a [href]="socialLogin.facebook.authUrl" class="btn btn-primary btn-block m-b-sm"><i class="fa fa-facebook pull-left"></i>Register with Facebook</a>
        <!--<a [href]="socialLogin.twitter.authUrl" class="btn btn-info btn-block m-b-sm"><i class="fa fa-twitter pull-left"></i>Sign in with Twitter</a>-->
        <a [href]="socialLogin.google.authUrl" class="btn btn-danger btn-block"><i class="fa fa-google-plus pull-left"></i>Register with Google</a>

      </div>
      <div class="form-group horizontalSplit"><span>or</span></div>


      <form [ngFormModel]="form" (ngSubmit)="onSubmit()" class="form-validation">
        <div class="list-group list-group-sm">
          <div class="form-group">
            <span class="label bg-success" *ngIf="emailCheckResult != null && emailCheckResult.available">Available</span>
            <input id="input-email" ngControl="email" class="form-control m-b" type="text" placeholder="Email">
          </div>

          <div *ngIf="email.dirty && emailCheckResult != null && !emailCheckResult.available" class="alert alert-danger">
            <p>Already Registered</p>
          </div>
          <div *ngIf="email.dirty && emailCheckResult != null && emailCheckResult.connectedProfiles.length > 0" class="alert mdi-alert-warning">
            <p>Already Registered with social profiles <strong *ngFor="#profile of emailCheckResult.connectedProfiles; #isLast=last">{{profile}}{{isLast ? '' : ', '}}</strong>.</p>
            <p>If you continue to register with an email and password, you will be able to login with both this email and your connected social profiles</p>

          </div>
          <control-messages control="email" class="text-danger wrapper text-center" id="errors-email"></control-messages>
          <br>
          <div ngControlGroup="matchingPassword">
            <div class="form-group">
              <input id="input-password" type="password" ngControl="password" class="form-control m-b" placeholder="Password">

            </div>
            <control-messages control="matchingPassword/password"
                              class="text-danger wrapper text-center" id="errors-password"></control-messages>
            <br>
            <div class="form-group">
              <input id="input-confirm-password" type="password" ngControl="confirmPassword"
                     class="form-control m-b" placeholder="Confirm Password">
            </div>
            <control-messages control="matchingPassword/confirmPassword"
                              class="text-danger wrapper text-center" id="errors-confirm-password"></control-messages>
            <control-messages control="matchingPassword" class="text-danger wrapper text-center" id="errors-matching-password"></control-messages>
          </div>
          <button id="button-submit" type="submit" [disabled]="!form.valid" class="btn btn-success">
            Submit
          </button>
          <spinner [isRunning]="isSubmitting" [delay]="0"></spinner>
          <div [hidden]="!isNetworkError" class="text-danger wrapper text-center">Network Error</div>

        </div>
      </form>
    </div>
  </div>

</div>
