.register-panel {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #999999;
  background-color: #f0f2f5;
  height: 100%;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.horizontalSplit {
  display: block;
  margin-bottom: 20px;
  margin: 0 auto 20px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-size: 1.2em;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
}

.horizontalSplit>span {
  position: relative;
  display: inline-block;

}

.horizontalSplit>span:before {
  right: 100%;
  margin-right: 60px;
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #dfdfdf;
}

.horizontalSplit>span:after {
  left: 100%;
  margin-left: 60px;
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #dfdfdf;
}

.input-icon {
  position: relative;
}
.input-icon input {
  padding-left: 33px !important;
  color: #999999;
}
.input-icon i {
  color: #999999;
  display: block;
  position: absolute;
  margin: 10px 2px 4px 10px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}
.input-icon.right input {
  padding-left: 12px !important;
  padding-right: 33px !important;
}
.input-icon.right i {
  right: 8px;
  float: right;
}
.has-success .input-icon i {
  color: #5cb85c;
}
.has-warning .input-icon i {
  color: #f0ad4e;
}
.has-error .input-icon i {
  color: #d9534f;
}

.form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #e5e5e5;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
label {
  font-weight: normal;
}

